html {
  height: 100%;
}

body {
  height: inherit;
  position: relative;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: Raleway, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}
